.env
/**/secrets/**
services/auth/authelia/config/notification.txt
services/auth/authelia/config/*.sqlite*
services/auth/lldap/data/*
services/networking/traefik/acme.json
services/networking/traefik/*.log
